{extend name="public:base" /}
{block name="style"}
<style type="text/css">
	.layui-fluid{padding: 0px;}
	.layui-tree-spread{width: 16px;}
	.layui-form-part-checked i{
		border-color: #5FB878  !important;;
	}
</style>
{/block}
{block name="body"}
<div class="layui-fluid">	
	<div class="layui-card">
		<div class="layui-card-body">
			<form class="layui-form" lay-filter="LAY-role-oauth">
				<input type="hidden" name="id" value="{$role.id}">
				<ul id="navi-tree" class="layui-box layui-tree">
					
				</ul>
				<div class="layui-form-item layui-layout-admin">
					<div class="layui-input-block">
						<div class="layui-footer" style="left: 0;">
							<button class="layui-btn" lay-submit lay-filter="LAY-role-auth">立即提交</button>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

{/block}
{block name="script"}
<script type="text/javascript">
layui.config({
    base: '__JS__/' //静态资源所在路径
    ,version: '20181201'
}).extend({
    index: 'lib/index' //主入口模块
}).use(['index', 'role']);
</script>
{/block}