{extend name="public:base" /}
{block name="style"}
<style type="text/css">
	.layui-fluid{padding: 0;}
</style>
{/block}
{block name="body"}
<div class="layui-fluid">	
	<div class="layui-card">
		<div class="layui-card-body">
			<form class="layui-form" lay-filter="LAY-role-edit">
				<input type="hidden" name="id" value="{$role.id}">
				<div class="layui-form-item">
				    <label class="layui-form-label">标示</label>
				    <div class="layui-input-inline">
				    	<input type="text" name="name" value="{$role.name}" autocomplete="off" class="layui-input">     
				    </div>
				</div>
				<div class="layui-form-item">
				    <label class="layui-form-label">名称</label>
				    <div class="layui-input-inline">
				    	<input type="text" name="cname" value="{$role.cname}"  lay-verify="required" autocomplete="off" class="layui-input">     
				    </div>
				</div>
				<div class="layui-form-item">
				    <label class="layui-form-label">描述</label>
				    <div class="layui-input-block">
				    	<textarea class="layui-textarea" name="description">{$role.description}</textarea>
				    </div>
				</div>
				<div class="layui-form-item layui-layout-admin">
					<div class="layui-input-block">
						<div class="layui-footer" style="left: 0;">
							<button class="layui-btn" lay-submit lay-filter="LAY-role-edit">立即提交</button>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

{/block}
{block name="script"}
<script type="text/javascript">
layui.config({
    base: '__JS__/' //静态资源所在路径
    ,version: '20181201'
}).extend({
    index: 'lib/index' //主入口模块
}).use(['index', 'role']);
</script>
{/block}