<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>确认订单</title>
    <link rel="stylesheet" href="__LAYUI__/css/layui.css" type="text/css">
    <script src="__IMAGES__/jquery.min.js"></script>
    <script src="__LAYUI__/layui.js"></script>
    <style>
        .layui-table td, .layui-table th{
            text-align: center;
        }
    </style>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <form action="{:url('saveKbb')}" method="post" name="form1" id="form1">
                <input type="hidden" name="class2" value="{$class2}">
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th colspan="4">确认注单</th>
                    </tr>
                    <tr>
                        <th>内容</th>
                        <th>赔率</th>
                        <th>下注金额</th>
                        <th>可赢金额</th>
                    </tr>
                    </thead>
                    <tbody>
                    {for start="1" end="$numm"}
                    <input name="Num_{$i}" type="hidden" value="{$res[$i]['num']}" />
                    {if condition="$res[$i]['num'] neq  ''"}
                    <tr>
                        <td><span style="color: #ff0000;">{$res[$i]['class2']}：</span><span style="color: #ff6600;">{$res[$i]['class3']}</span></td>
                        <td>{$res[$i]['rate']}</td>
                        <td>{$res[$i]['num']}</td>
                        <td>{$res[$i]['num']*$res[$i]['rate']-$res[$i]['num']}</td>
                    </tr>
                    {/if}
                    {/for}
                    <tr>
                        <td colspan="2" align="center">下注总额</td>
                        <td>{$total}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <input type="hidden" name="from_url" value="{$url}">
                        <td colspan="4" align="center">
                            <button class="layui-btn layui-btn-sm layui-btn-primary ret" type="reset">取消</button>
                            <button class="layui-btn layui-btn-sm" type="submit">送出</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>
<script>
    layui.use(['layer'],function () {
        var layer=layui.layer;
        $('.ret').click(function () {
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
            window.parent.location.reload();
        });
    })
</script>