{extend name="public:base" /}
{block name="style"}
<style type="text/css">
.layui-fluid{padding: 0;}
#accountalipayqrcode{   border: 1px solid #D2D2D2;width: 128px;height: 128px;}
</style>
{/block}
{block name="body"}
<div class="layui-fluid">
	<div class="layui-card">
		<div class="layui-card-body">
			<form class="layui-form">
			  	<div class="layui-form-item">
				    <label class="layui-form-label">支付宝账号</label>
				    <div class="layui-input-inline">
				      	<input type="text" name="account[alipay][name]" value="{$account.alipay.name|default=''}"  lay-verify="required" autocomplete="off" class="layui-input">
				    </div>
			  	</div>
			  	<div class="layui-form-item">
				    <label class="layui-form-label">支付开户人</label>
				    <div class="layui-input-inline">
				    	<input type="text" name="account[alipay][cname]" value="{$account.alipay.cname|default=''}" lay-verify="required" autocomplete="off" class="layui-input">
				    </div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">二维码</label>
					<div class="layui-input-block">
						<input type="hidden" name="account[alipay][qrcode]" value="{$site.alipay.qrcode|default=''}">
						{if condition="empty($account['alipay']['qrcode'])"}
						<img src="__STATIC__/images/default_image.gif" id="accountalipayqrcode">
						{else /}
						<img src="{$site.alipay.qrcode|default=''}" id="accountalipayqrcode">
						{/if}
					</div>
				</div>
				<div class="layui-form-item layui-layout-admin">
					<div class="layui-input-block">
						<div class="layui-footer" style="left: 0;">
							<button class="layui-btn" lay-submit lay-filter="LAY-account-edit">立即提交</button>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
layui.config({
    base: '__JS__/' //静态资源所在路径
    ,version: '20181201'
}).extend({
    index: 'lib/index' //主入口模块
}).use(['index', 'setting']);
</script>
{/block}