<table class="layui-table">
    <tbody>
    <tr>
        <td >特码：<a href="{:url('jszd/index')}"><span style="color: #FF3333;">{$sum_m[0]}</span><span color="#000000">-</span><span style="color: #FF3333;">{$sum_mzc[0]}</span></a></td>
        <td  >正特：<a href="{:url('zt/index')}"><span style="color: #FF3333;">{$sum_m[1]}</span><span color="#000000">-</span><span style="color: #FF3333;">{$sum_mzc[1]}</span></a></td>
        <td  >正码：<a href="{:url('zm/index')}"><span style="color: #FF3333;">{$sum_m[2]}</span><span color="#000000">-</span><span style="color: #FF3333;">{$sum_mzc[2]}</span></a></td>
        <td  >正1-6：<a href="{:url('zm6/index')}"><span style="color: #FF3333;">{$sum_m[3]}</span><span color="#000000">-</span><span style="color: #FF3333;">{$sum_mzc[3]}</span></a></td>
        <td  >连码：<a href="{:url('lm/index')}"><span style="color: #FF3333;">{$sum_m[4]}</span><span color="#000000">-</span><span style="color: #FF3333;">{$sum_mzc[4]}</span></a></td>
        <td  >过关：<a href="{:url('gg/index')}"><span style="color: #FF3333;">{$sum_m[5]}</span><span color="#000000">-</span><span style="color: #FF3333;">{$sum_mzc[5]}</span></a></td>
        <td  >半波：<a href="{:url('bb/index')}"><span style="color: #FF3333;">{$sum_m[6]}</span><span color="#000000">-</span><span style="color: #FF3333;">{$sum_mzc[6]}</span></a></td>
        <td  >半半波：<a href="{:url('bbb/index')}"><span style="color: #FF3333;">{$sum_m[10]}</span><span color="#000000">-</span><span style="color: #FF3333;">{$sum_mzc[10]}</span></a></td>
        <td  >特尾：<a href="{:url('ws/index')}"><span style="color: #FF3333;">{$sum_m[8]}</span><span color="#000000">-</span><span style="color: #FF3333;">{$sum_mzc[8]}</span></a></td>
        <td  >五行：<a href="{:url('wx/index')}"><span style="color: #FF3333;">{$sum_m[9]}</span><span color="#000000">-</span><span style="color: #FF3333;">{$sum_mzc[9]}</span></a></td>
    </tr>
    <tr>
        <td  >生肖：<a href="{:url('sx/index')}" ><span style="color: #FF3333;">{$sum_m[7]}</span><span color="#000000">-</span><span style="color: #FF3333;">{$sum_mzc[7]}</span></a></td>
        <td >特头：<a href="{:url('ts/index')}"><span style="color: #FF3333;">{$sum_m[11]}</span><span color="#000000">-</span><span style="color: #FF3333;">{$sum_mzc[11]}</span></a></td>
        <td  >平特尾（尾数）：<a href="{:url('ztws/index')}"><span style="color: #FF3333;">{$sum_m[12]}</span><span color="#000000">-</span><span style="color: #FF3333;">{$sum_mzc[12]}</span></a></td>
        <td  >七色波：<a href="{:url('qsb/index')}"><span style="color: #FF3333;">{$sum_m[13]}</span><span color="#000000">-</span><span style="color: #FF3333;">{$sum_mzc[13]}</span></a></td>
        <td  >正肖：<a href="{:url('zhx/index')}"><span style="color: #FF3333;">{$sum_m[14]}</span><span color="#000000">-</span><span style="color: #FF3333;">{$sum_mzc[14]}</span></a></td>
        <td  >不中：<a href="{:url('zx/index')}"><span style="color: #FF3333;">{$sum_m[15]}</span><span color="#000000">-</span><span style="color: #FF3333;">{$sum_mzc[15]}</span></a></td>
        <td  >尾数连：<a href="{:url('wsl/index')}"><span style="color: #FF3333;">{$sum_m[16]}</span><span color="#000000">-</span><span style="color: #FF3333;">{$sum_mzc[16]}</span></a></td>
        <td  >生肖连：<a href="{:url('lx/index')}"><span style="color: #FF3333;">{$sum_m[17]}</span><span color="#000000">-</span><span style="color: #FF3333;">{$sum_mzc[17]}</span></a></td>
        <td  >中一：<a href="{:url('szy/index')}"><span style="color: #FF3333;">{$sum_m[18]}</span><span color="#000000">-</span><span style="color: #FF3333;">{$sum_mzc[18]}</span></a></td>
        <td align="right">
            总：<span style="color:#333333;">{$z_sum}</span><span style="color:#000000;">-</span><span style="color:#333333;">{$z_sumzc}</span>
        </td>
    </tr>
    </tbody>
</table>