{extend name="public:base" /}
{block name="body"}
<div id="LAY_app">
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header">
			<!-- 头部区域 -->
			<ul class="layui-nav layui-layout-left">
				<li class="layui-nav-item layadmin-flexible" lay-unselect="">
					<a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
						<i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
					</a>
				</li>
				<li class="layui-nav-item layui-hide-xs" lay-unselect="">
					<a href="{:url('index/index/index')}" target="_blank" title="前台">
						<i class="layui-icon layui-icon-website"></i>
					</a>
				</li>
				<li class="layui-nav-item" lay-unselect="">
					<a href="javascript:;" layadmin-event="refresh" title="刷新">
						<i class="layui-icon layui-icon-refresh-3"></i>
					</a>
				</li>
			</ul>
			<ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
				<li class="layui-nav-item layui-hide-xs" lay-unselect="">
					<a href="javascript:;" layadmin-event="fullscreen">
						<i class="layui-icon layui-icon-screen-full"></i>
					</a>
				</li>
				<li class="layui-nav-item" lay-unselect="">
					<a href="javascript:;">
						<cite>{$user['name']}</cite>
						<span class="layui-nav-more"></span>
					</a>
					<dl class="layui-nav-child">
						<dd><a lay-href="{:url('admin/user/changepwd')}">修改密码</a></dd>
						<dd><a lay-href="{:url('admin/user/bindmobile')}">绑定手机</a></dd>
						<dd><a lay-href="{:url('admin/user/bindwx')}">绑定微信</a></dd>
						<hr>
						<dd style="text-align: center;"><a href="{:url('agent/login/index')}">退出</a></dd>
					</dl>
					<
				</li>

				<li class="layui-nav-item layui-hide-xs" lay-unselect="">
					<a href="javascript:;"><i class="layui-icon layui-icon-more-vertical"></i></a>
				</li>
			</ul>
		</div>
		<!-- 侧边菜单 -->
		<div class="layui-side layui-side-menu">
			<div class="layui-side-scroll">
				<div class="layui-logo" lay-href="{:url('agent/index/console')}">
		            <span>H5</span>
		        </div>
		        <ul id="LAY-system-side-menu" class="layui-nav layui-nav-tree" lay-shrink="all" lay-filter="layadmin-system-side-menu">
		        	{volist name="navis" id="navi"}
					<li data-name="home" class="layui-nav-item" style="">
						{php}$children = $navi['subnavis'];{/php}
						{if condition="count($children) > 0"}
		              	<a href="javascript:;" lay-tips="{$navi.cname}" lay-direction="2">
			                <i class="layui-icon layui-icon-{$navi.icon}"></i>
			                <cite>{$navi.cname}</cite>
			              	<span class="layui-nav-more"></span>
		              	</a>
		              	<dl class="layui-nav-child">
		              		{volist name="children" id="subnavi"}
			                <dd data-name="{$subnavi.name}" class="">
			                  <a lay-href="{$subnavi.url}">{$subnavi.cname}</a>
			                </dd>
			                {/volist}
		              	</dl>
		              	{else /}
		              	<a href="javascript:;" lay-href="{$navi.url}" lay-tips="{$navi.cname}" lay-direction="2">
			                <i class="layui-icon layui-icon-{$navi.icon}"></i>
			                <cite>{$navi.cname}</cite>
		              	</a>
		              	{/if}
		            </li>
		            {/volist}
		        </ul>
			</div>
		</div>
		<!-- 页面标签 -->
		<div id="LAY_app_tabs" class="layadmin-pagetabs">
			<div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
			<div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
			<div class="layui-icon layadmin-tabs-control layui-icon-down">
	          	<ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
		            <li class="layui-nav-item" lay-unselect="">
		              <a href="javascript:;"><span class="layui-nav-more"></span></a>
		              <dl class="layui-nav-child layui-anim-fadein">
		                <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
		                <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
		                <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
		              </dl>
		            </li>
			        <span class="layui-nav-bar"></span>
		      	</ul>
	        </div>
	        <div class="layui-tab" lay-unauto lay-allowclose="true" lay-filter="layadmin-layout-tabs">
				<ul class="layui-tab-title" id="LAY_app_tabsheader">
	            	<li lay-id="{:url('admin/index/console')}" lay-attr="{:url('admin/index/console')}" class="layui-this" style="">
	            		<i class="layui-icon layui-icon-console"></i><i class="layui-icon layui-unselect layui-tab-close"></i></li>
	          	</ul>
			</div>
		</div>
		<!--  主体内容  -->
		<div id="LAY_app_body" class="layui-body">
			<div class="layadmin-tabsbody-item layui-show">
				<iframe class="layadmin-iframe" src="{:url('agent/index/console')}" frameborder="0"></iframe>
			</div>
		</div>
	</div>	
</div>
{/block}
{block name="script"}
<script type="text/javascript">
  layui.config({
    base: '__JS__/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use('index');
</script>
{/block}