{extend name="public:base" /}
{block name="style"}
<style type="text/css">
	.toolbar{margin-bottom: 10px;}
	.layui-btn-container input,dl{font-size: 14px;}
	.layui-btn-container .layui-input{height: 30px;}
</style>
{/block}`1	
{block name="body"}
<div class="layui-fluid">
	<div class="layui-card">
		<div class="layui-card-header">游戏列表</div>
		<div class="layui-card-body"> 
			<div id="game-table" lay-filter="game"></div>
		</div>
	</div>
</div>

<script type="text/html" id="topToolbar">
	<div class="layui-btn-container">
		<a href="javascript:;" class="layui-btn layui-btn-primary layui-btn-sm" lay-event="add">添加</a>
	</div>
</script>


<script type="text/html" id="switchState">
  <input type="checkbox" name="state" value="1" lay-skin="switch" lay-text="正常|禁用" lay-filter="state" data-id="{{ d.id }}" {{ d.state == 1 ? 'checked' : '' }}>
</script>


<script type="text/html" id="toolbar">
  	<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  	<a class="layui-btn layui-btn-danger layui-btn-xs " lay-event="delete">删除</a>
</script>
{/block}
{block name="script"}
<script type="text/javascript">
layui.config({
    base: '__JS__/' //静态资源所在路径
    ,version: '20181201'
}).extend({
    index: 'lib/index' //主入口模块
}).use(['index', 'game']);
</script>
{/block}