{extend name="public:base" /}
{block name="style"}
<style type="text/css">
	.layui-fluid{padding: 0px;}}
</style>
{/block}`1	
{block name="body"}
<div class="layui-fluid">
	<div class="layui-card">
		<div class="layui-card-body">
			<input type="hidden" name="id" value="{$user['id']}">
			<div id="finance-table" lay-filter="finance"></div>
		</div>
	</div>
</div>

<script type="text/html" id="toolbar">

</script>
{/block}
{block name="script"}
<script type="text/javascript">
layui.config({
    base: '__JS__/' //静态资源所在路径
    ,version: '20181201'
}).extend({
    index: 'lib/index' //主入口模块
}).use(['index', 'user']);
</script>
{/block}