{extend name="public:base" /}
{block name="body"}
<div class="layui-fluid">
	<div class="layui-card">
		<div class="layui-card-body">
			<form class="layui-form">
				<input type="hidden" name="id" value="{$article.id}">
				<div class="layui-form-item">
					<label class="layui-form-label">文章分类</label>
					<div class="layui-input-block">
						<div class="layui-input-inline">
							<select name="class_1" data-selected="{$article.class_1}" lay-verify="required" lay-filter="class">
								<option value="0">一级分类</option>
							</select>
						</div>
						<div class="layui-input-inline">
							<select name="class_2" data-selected="{$article.class_1}"  lay-filter="class">
								<option value="0">二级分类</option>
							</select>
						</div>
						<div class="layui-input-inline">
							<select name="class_3" data-selected="{$article.class_1}"  >
								<option value="0">三级分类</option>
							</select>
						</div>
					</div>
				</div>
				<div class="layui-form-item">
				    <label class="layui-form-label">名称</label>
				    <div class="layui-input-block">
				    	<input type="text" name="cname" value="{$article.cname}" autocomplete="off" class="layui-input">     
				    </div>
				</div>
				<div class="layui-form-item">
                    <label class="layui-form-label">关键词</label>
                    <div class="layui-input-block">
                        <input type="text" name="keywords" value="{$article.keywords}"  class="layui-input" placeholder="请输入文章关键词，以‘,’隔开">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">描述</label>
                    <div class="layui-input-block">
                        <textarea name="description" placeholder="请输入文章描述" class="layui-textarea">{$article.description}</textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">内容</label>
                    <div class="layui-input-block">
                    	<script type="text/plain" style="width: 100%;height: 400px;" id="content">
                    		{$article.content}
                    	</script>
                    </div>
                </div>
                <div class="layui-form-item">
                	<label class="layui-form-label">面向对象</label>
                	<div class="layui-input-inline">
                		<select name="object" >
							<option value="0" {if condition="$article['object'] eq 0"} selected {/if}>全部</option>
							<option value="1" {if condition="$article['object'] eq 1"} selected {/if}>商家</option>
							<option value="2" {if condition="$article['object'] eq 2"} selected {/if}>会员</option>
						</select>
                	</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline">
                    	<input type="radio" name="state" value="1" title="发布" {if condition="$article['state'] eq 1"} checked {/if}>
                        <input type="radio" name="state" value="0" title="草稿" {if condition="$article['state'] eq 0"} checked {/if}>
                    </div>
                </div>
				<div class="layui-form-item layui-layout-admin">
					<div class="layui-input-block">
						<div class="layui-footer" style="left: 0;">
							<button class="layui-btn" lay-submit lay-filter="LAY-article-edit">立即提交</button>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
	layui.config({
    base: '__JS__/' //静态资源所在路径
    ,version: '20180604'
}).extend({
    index: 'lib/index' //主入口模块
}).use(['index', 'article']);
</script>
{/block}